
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center center; 
}





/* HEADER */


header a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;   /* horizontally center */
  align-items: center;       /* vertically center */
  height: 100px;             /* adjust as needed */
  padding: 0 20px;
  background-color: #D48C8C;
  position: sticky;
  top: 0;
  z-index: 1000;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#brand {
  display: flex;
  align-items: center;
  font-family: 'Chillax', sans-serif;
  width: 100%;
  padding: 20px 0; /* optional spacing */
}

#brand img {
  max-height: 80px;          /* ensures it fits nicely */
  width: auto;
  display: block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#brand h1 {
  margin-left: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: rgba(99, 101, 102, 0.5);
}

ul a {
  color: #000;
}

ul a:hover {
  color: #F4E4D4;
  transition: 0.5s;
}

ul li {
  padding-right: 80px;
  margin-left: 10px;
}

ul li a {
  white-space: nowrap;
}



.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 44px;
  cursor: pointer;
  z-index: 1001;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  z-index: 1;
}

#hamburger-icon div{
  width: 35px;
  height: 3px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  background-color: #D48C8C;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  z-index: -1;
  padding: 80px 0;
}

.mobile-menu li {
  margin-top: 40px;
  font-size: 20px;
  padding: 2px;
}




/* BODY */

.main-image {
  width: 100vw;
  margin-bottom: -5px;
}

.main-image-background {
  background-image: url('images/geneva.JPG');
  background-size: cover;         /* Ensures the image covers the div */
  background-position: center;    /* Centers the image */
  background-repeat: no-repeat;   /* Prevents tiling */
  width: 100%;                    /* Set width */
  height: 500px;    
  text-align: center;      
  display: flex;                 /* Enables flexbox */
  justify-content: center;      /* Centers items horizontally */
  align-items: center;       
}

.text-div {
  width: 50vw;
}

.main-image-background h1 {
  font-family: 'Chillax', sans-serif;
  font-size: 60px;
  color: #D48C8C;
   text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.5),
     1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px  1px 0 rgba(0, 0, 0, 0.5),
     1px  1px 0 rgba(0, 0, 0, 0.5);
}

.main-image-background p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.arrow-button {
  display: inline-flex;
  align-items: center;
  gap: 10px; /* Space between text and image */
  padding: 12px 20px;
  border: 2px solid #D48C8C;
  background-color: #D48C8C;
  color: white;
  font-size: 16px;
  border-radius: 25px; /* Rounded edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 25px;
}

.arrow-button:hover {
  background-color: white;
  color: black;
}

.better-content h1 {
  font-family: 'Chillax', sans-serif;
  font-size: 40px;
}

.better-content p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.working {
  font-size: 25px;
  color:  #D48C8C;
}

.industry-btn {
  display: flex;
  flex-direction: column;
  width: 20vw;
  gap: 10px; /* Space between text and image */
  padding: 12px 20px;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;
  color: #000;
  font-size: 16px;
  border-radius: 25px; /* Rounded edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.industry-btn:hover {
  background-color: #D48C8C;
  color: #FFF;
}

.industry-btn p {
  margin: 0;   /* optional: remove default margins */
  word-wrap: break-word; /* ensure text wraps inside */
}

.two-div, .four-div {
  display: flex;
}

.two-div p, .two-div h1 {
 text-align: left;
}



/* PROJECTSSSS */

.project {
  border: 5px solid rgba(212, 140, 140, 0.4); /* Border with opacity */
  border-radius: 20px;
  padding: 20px;
  transition: border-color 0.3s ease;
  max-width: 25vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.project:hover {
  border-color: rgba(212, 140, 140, 1); /* Full opacity on hover */
}

.project p {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

.project h1 {
  font-size: 36px;
  font-family: 'Chillax', sans-serif;
}

.project-title {
  color:  #D48C8C;
}

.project-group {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.project-bullet img{
  width: 16px;
  padding-right: 5px;
}

.project-bullet {
  display: flex;
  padding-bottom: 20px;
}

.middle-third {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 25px;
}

.top-third {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;;
}

.top-third h1 {
  margin: 15px 0;
}

.project button {
  margin-bottom: 30px;
  padding: 13px 50px;
}


.better-content {
  background-color: #fff;
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.four-div h1 {
  font-size: 22px;
}

.four-div p {
  font-size: 16px;
}

.better-text {
  width: 50vw;
  padding-bottom: 23px;
  text-align: center;
}

.better-text p {
  font-size: 16px;
}

.better-text p, .better-text h1 {
  padding-bottom: 10px;
}






/*WEBSITE PAGE */

.web-start {
  background-color: #f6f4f9;
  padding: 80px 90px;
}

.served {
  display: flex;
  justify-content: flex-start
}

.served img {
  width: 60vw;
}

.stack-nums {
  background-color: #FFF;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  width: 20vw;
  margin-left: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}

.web-start h1 {
  font-family: 'Chillax', sans-serif;
  font-size: 60px;
}

.web-start p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#big-num {
  color: #D48C8C;
  font-size: 60px;
  font-weight: 600;
}

.num-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.web-dev {
  background-color: #12141d;
  display: flex;
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  padding: 90px;
  justify-content: center;
}

  .web-dev-btn {
    padding: 18px 54px;
    border: 1px solid white;
    border-radius: 25px;
    background: #12141d;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    text-align: left;
    margin: 8px;
  }

  .web-dev-btn.active {
  background: linear-gradient(to right, #bb23e5 5%, #D48C8C 97%);
}

.web-dev-btn:hover {
  background-color: #282a37;
}

  .web-right {
    display: none;
    background-color: #282a37;
    width: 50vw;
    padding: 50px;
    border-radius: 12px;
    margin-left: 20px;
  }

  .web-right.active {
  display: block;
}

  .web-left {
    display: flex;
    flex-direction: column;
  }

  .web-right h1 {
    padding-bottom: 20px;
  }

  .web-right p {
    padding-bottom: 20px;
    line-height: 1.6;
    padding-left: 18px;
  }




.adv {
  display: flex;
  background-color: #f6f4f9;
  padding: 80px;
}

.adv-left img {
  width: 40vw;
}

.flex-adv img {
  width: 20vw;
}

.flex-adv {
  display: flex;
  padding-top: 20px;
}

.adv-right {
  padding: 0 60px;
}

.adv-right p, .adv-right h1 {
  padding-bottom: 20px;
}

.adv-right h1 {
  font-family: 'Chillax', sans-serif;
  font-size: 44px;
}

.adv-right p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

#adv-title {
  font-size: 19px;
  color: #D48C8C;
}

.white-box {
  background-color: #FFF;
  width: 20vw;
  border-radius: 20px;
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.white-box p {
  font-family: 'Chillax', sans-serif;
  font-size: 30px;
}



/* SOCIAL MEDIA PAGES */

.social-bullet {
  display: flex;
  align-items: center;
  padding-right: 45px;
}

.social-bullet p {
  padding-top: 16px;
}

.social-half {
  display: flex;
}

#social-headline {
  width: 60vw;
}



.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.contact img {
  height: 500px;
  width: auto;
}

/*
.better-content h1, .web-design-example {
  font-family: 'Chillax', sans-serif;
  font-size: 40px;
}

.better-content p {
  font-family: 'Quicksand', sans-serif;
  width: 60vw;
  margin: 0 auto;
  font-size: 20px;
  padding: 30px 0;
  line-height: 25px;
}
*/

.inspired-btn {
  background-color: #D48C8C;
  color: white;
  border: 2px solid black;
  padding: 17px 174px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Quicksand', sans-serif;
}

.inspired-btn:hover {
  background-color: white;
  color: black;
}

.iphone, .icons {
  display: flex;
  justify-content: space-between;
  background-color: #BB7979;
}

.iphone video, .right video, .socials video, .pink video {
  width: 360px;
  height: 640px;
}

.icons {
  margin-top: -5px;
}

.icon-section {
  width: 33.33%;
  box-sizing: border-box;
  padding: 20px; /* Optional: spacing inside each section */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-section img {
  width: 220px; /* Adjust as needed */
  height: auto; /* Keeps the aspect ratio */
  margin-top: 10px; /* Optional spacing */
}

.icon-section h1 {
  font-family: 'Chillax', sans-serif;
  font-size: 40px;
}

.icon-section p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

#middle {
   background-color: #D48C8C;
}




.social-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* optional: aligns content vertically */
  text-align: center;
  background-color: #F4E4D4;
}

.social-content img {
  width: 50vw;
  height: auto;
}

.left {
  width: 50vw;
  padding: 0 30px;
}

.social-content h1 {
  font-family: 'Chillax', sans-serif;
  font-size: 40px;
}

.social-content p {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  font-size: 20px;
  padding: 30px 0;
  line-height: 25px;
}

.why-us {
    background-color: #BB7979;
    margin-top: -5px;
}

.why-us h1 {
  font-family: 'Chillax', sans-serif;
}

.why-title {
    padding-top: 40px;
    text-align: center;
}

.why-us p {
   font-family: 'Quicksand', sans-serif;
   font-size: 20px;
   width: 50vw;
}

.why {
  display: flex;
}

.why-left img {
  width: 250px;             /* or any size you want */
  height: 250px;
  object-fit: cover;        /* ensures it fills the circle */
  border-radius: 50%;       /* makes it a perfect circle */
  display: block;
}

.why-left {
  display: flex;
  margin: 0 150px;
  justify-content: center;
  align-items: center;
}

.why-title {
  color: #F4E4D4;
  font-size: 50px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}



.why-right h1::after {
  content: "";
  display: block;
  width: 90px;              /* length of the line */
  height: 2px;
  background-color: #F4E4D4;  /* or your brand color */
  margin-top: 10px;
}

.why-right h1 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.why-right {
  padding-bottom: 40px;
}



.footer {
  background-color: #F4E4D4;
  margin-top: -5px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  padding: 50px 100px;
}

.footer a {
  text-decoration: none;
  color: #000;
}

.hi img{
  width: 100px;
}

.follow img{
  width: 120px;
}

#links {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.hi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.says {
  padding: 0 30px;
}


.color1 {
    background-color: #FF6F91;
}

.color2 {
    background-color: #F67280;
}

.color3 {
    background-color: #D8A7B1;
}

.color4 {
    background-color: #2E2E2E;
}

.color5 {
    background-color: #F4E4D4;
}

.color6 {
    background-color: #A8C3AB;
}

.playfair {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}





/* WEB DESIGN PAGE */

#web-headline {
  font-size: 30px;
  text-align: left;
  width: 70vw;
  padding-left: 70px;
}

.web-section {
  display: flex;
  text-align: left;
  align-items: center;      /* Vertically center */
  justify-content: space-between;  /* Space between text and image */
  gap: 2rem;                /* Optional spacing between items */
  padding: 2rem;  
}

.web-section img {
  width: 250px;
  height: auto;
  margin-right: 70px;
}

.designs {
  display: flex;
  justify-content: center;
  padding-left: 140px;
  background-color: #BB7979;
}

.bullets {
  display: flex;
  align-items: center;
  text-align: left;
}

.bullets img {
  width: 40px;
  height: 40px;
}

.bullets p {
  font-weight: 600;
  font-size: 25px;
  padding-left: 10px;
}

.web-video {
  width: 300px;
  margin-right: 100px;
}

.web-page {
  padding: 50px;
}

.design-image {
  display: flex;
}

.design-image img {
  width: 450px;
}

.image-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
}

.image-wrapper .overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: bottom 0.4s ease-in-out;
  pointer-events: none; /* Let clicks go through to the link */
}

.green {
  background-color: rgba(0, 255, 0, 0.5);
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.5);

}

.image-wrapper:hover .overlay {
  bottom: 0;
}

.why-us-web {
    background-color: #BB7979;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.why-us-web h1 {
  font-family: 'Chillax', sans-serif;
  margin-bottom: 20px;
}

#talk {
  padding: 0 70px;
}

.right video {
  margin-left: 80px;
}














/* SOCIAL MEDIA PAGE */


.socials {
  background-color: #F4E4D4;
  display: flex;
  align-items: center;
}

.socials h1, .advertising h1, .exposure h1 {
  font-family: 'Chillax', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.socials p {
  width: 40vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

.advertising p, .row-item img {
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  padding-bottom: 20px;
}

.advertising {
  background-color: #BB7979;
  text-align: center;
  padding: 40px 180px;
}

.row {
  display: flex;
  padding-bottom: 30px;
}

.row-item img{
  width: 100px;
}
.row-item {
  padding: 0 20px;
}

.ad-p {
  margin-bottom: 50px;
}

#ad-title {
  font-weight: 600;
  font-size: 22px;
}

.exposure {
  background-color: #F4E4D4;
  display: flex;
  padding: 40px 180px;
}

.exposure p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.exposure img {
  width: 1200px;
}

.ex-right, .exposure img {
  padding: 0 40px;
}

#bold {
  font-weight: 600;
}

.pink {
   background-color: #BB7979;
   display: flex;
   align-items: center;
   padding: 0 80px
}


.pink-bull {
  display: flex;
  margin-bottom: 20px;
}

.pink-bull img {
  width: 40px;
  height: 40px;
}

.pink-bull p{
  font-family: 'Quicksand', sans-serif;
}

.pink-title {
  font-size: 27px;
  font-weight: 600;
  padding-left: 15px;
}

.pink-desc {
  font-size: 23px;
  padding-left: 15px;
}







/* CONTACT */

.contact-box {
  padding: 60px 20px;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-left: 40px;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input {
  border: none; 
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 10px;
  margin-bottom: 15px;
  width: 17vw;
  font-size: 16px;
   font-family: 'Quicksand', sans-serif;
}


textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
   font-family: 'Quicksand', sans-serif;
}

#sub-btn {
  margin-top: 20px;
  border-radius: 32px;
}




@media (max-width: 768px) {

  #hamburger-icon {
    display: block;
  }

  header nav {
    display: none;
  }

  #brand {
  flex-direction: column;   /* stacks image and h1 */  
  text-align: left;
}


.iphone {
  display: block;
}

.iphone video {
   width: 100%;               /* Full width of the screen */
  height: auto;              /* Keeps aspect ratio */
  max-width: 100%;           /* Prevents overflow */
  display: block;
}

.social-content, .icons, .better-content
{
  flex-direction: column;
}  

.left {
  width: 100vw; 
}

.social-content img {
  width: 100vw;
  height: auto;
}

.icon-section {
  width: 100%;
}

.icon-section img {
  width: 150px; /* Adjust as needed */
  height: auto; /* Keeps the aspect ratio */
  margin-top: 10px; /* Optional spacing */
}

#seo {
  font-size: 35px;
}

.better-content h1, .social-content h1 {
  font-size: 20px;
}

/*
.better-content p {
  width: 100vw;
  font-size: 13px;
  padding: 30px 0;
  line-height: 20px;
} */


.social-content p {
  font-size: 13px;
  padding: 30px 0;
  line-height: 20px;
}

.inspired-btn {
  padding: 11px 37px;
  font-size: 13px;
}

.left h1 {
  margin-top: 20px;
}

.why {
  display: block;
}

.why-us {
  padding-bottom: 30px;
}

.why-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.why-left img {
  width: 150px;             /* or any size you want */
  height: 150px;
}

.why-left {
  align-items: center;
  margin: 0;
}

.why-right {
  padding: 0 24px;
}

.why-right h1{
  font-size: 25px;
}

.why-us p {
   font-size: 18px;
   width: 80vw;
}

.hi img{
  width: 80px;
}

.follow img{
  width: 90px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#brand img{
  display: none;
}

.says {
  padding: 20px 0;
}

.hi {
  align-items: center;
}

.bullets img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.design-image {
  flex-direction: column;
}

.image-wrapper {
  width: 90vw;
}

.designs {
  padding: 30px 0;
}

.designs img {
  width: 90vw;
}

#talk {
  padding-bottom: 40px;
}

.right {
  width: 100vw;
}

.right video {
  width: 270px;    /* 360 × 0.75 */
  height: 480px; 
}

.web-section img {
   width: 150px;
  height: auto;
  margin: 0;
}

.web-section p{
  width: 80vw;
}

.socials {
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 30px;
}

.row {
  flex-direction: column;
}

.exposure {
  flex-direction: column;
  padding: 0;
}

.exposure img {
  width: 400px;
  padding: 0;
}

.pink {
  flex-direction: column;
  padding: 0 30px;
}

.socials p {
  width: 90vw;
}

.advertising {
  padding: 20px 0;
}

.pink-title {
  font-size: 20px;
  margin-left: 15px;
}

.pink-bull img{
  width: 30px;
  height: 30px;
}

.pink-bull {
  align-items: center;
}

.pink-desc {
  font-size: 17px;
  text-align: right;
  padding: 0;
}

.pink video {
  margin-bottom: 30px;
}







.right video {
  margin: 0;
}

#web-headline {
  text-align: center;
  width: 90vw;
  padding: 0;
}

.web-section img {
  display: none;
}

.main-image-background h1 {
  font-size: 40px;
}

.main-image-background p {
  font-size: 16px;
}

.text-div {
  width: 90vw;
}

.main-image-background {
  align-items: flex-start;
  padding-top: 30px;
}

.better-text {
  width: 80vw;
}

.four-div {
  flex-direction: column;
}

.two-div p {
  display: none;
}

.industry-btn {
  width: 40vw;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.two-div h1 {
  text-align: center;
}

.project-group {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  max-width: 80vw;;
}

.served {
  flex-direction: column;
}

.web-dev {
  flex-direction: column;
}

.adv {
  flex-direction: column;
}

.web-start {
  padding: 60px 0;
}

.web-start h1 {
  font-size: 44px;
}

.web-start p, .web-start h1 {
  padding: 0 19px;
}

.stack-nums {
  flex-direction: row;
  width: 90vw;
  margin-top: 15px;
  justify-content: center;
  margin-left: 0;
  padding: 17px 0;
}

.served img {
  width: 90vw;
}

.served {
  align-items: center;
}

.web-dev {
  padding: 40px 30px;
}

.web-right {
  padding: 15px;
  margin: 0;
  width: 85vw;
}

.web-left {
  padding-bottom: 20px;
}

.adv {
  padding: 0;
}

.adv-left img {
  width: 90vw;
}

.flex-adv img {
  width: 45vw;
  height: 180px;
}

.white-box {
  width: 45vw;
  height: 180px;
}

.adv-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.adv-right {
  padding: 10px 30px;
}

.social-half {
  flex-direction: column;
}

.web-right {
  padding-left: 40px;
}

#social-headline {
  width: 100vw;
}

.contact {
  flex-direction: column;
  padding: 30px 0;
}

.contact img {
  display: none;
}

.contact-box {
  margin: 0;
}

.input-row {
  flex-direction: column;
}

.input-group input {
  width: 80vw;
}

}